<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Displaying Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7123c0e2af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
<body>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="fa-solid fa-circle-check fa-4x" style="padding-right:50px ;padding-left:450px ;"></i>
    <div> 
      <h1 class="big-heading">Thanks for using RPD</h1>
    </div>
  </div>
  <section style="padding-left:496px ;padding-top:7%; padding-bottom:8.3%;">
    <div class="row ">
      <div class="col-lg-12">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            {% if filename %}
            <img src="{{filename}}" class="dispimage"> <br>
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Cropped Registration Plate</h5>
            <p class="card-text">
              Plate detected using matplotlib,pytesseract,PIL,numpy
            </p>
            <a href="{{filename}}" class="btn btn-dark" download>Download</a>
          </div>
        </div>
      </div>
  </div>
  </section>
{% else %}
  <h1 style="text-align:center ;">Error:Check your Uploaded Image !!</h1>
  {% endif %}
<hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Follow us on social media</p>
      <a href="https://www.youtube.com/channel/UCxklykpP1V47VDJdImDYRgA" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.instagram.com/invites/contact/?i=z02gn860bxrf&utm_content=66imo6w" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://twitter.com/NageshVara1?t=NO4lWr9UssUcE3Ht9UlpFQ&s=03" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/Nageshvara" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://www.tce.edu/">TCE</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>